
.pricing{
    margin: 3rem;
    text-align: center;
    /* border: 1px solid #eee; */
}

.about p{
    margin: 1rem;
    color: #eee;
    padding: 0.65rem 10rem;
    text-align: center;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.6;
}

.pricing h1{
    margin: 1rem 1rem 1.5rem 1rem;
    color: gold;
    letter-spacing: 0.1rem;
    text-align: center;
}

.skills-p{
    width: fit-content;
    border: 1px solid #eee;
    margin: 0 auto;
    padding: 1rem;
}

.pricing p{
    padding: 0.3rem 10rem;
    letter-spacing: 1.1px;
    font-size: 1.2rem;
    text-align: center;
}