
.project-card{
    /* color: #eee; */
    color: #329da8;
    margin: 3rem;
    
}

.project-card h1{
    margin: 1rem 1rem 1.5rem 1rem;
    color: gold;
    letter-spacing: 0.1rem;
    text-align: center;

}

.project-card .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}

.work-container img {
    width: 400px;
    height: 275px;
    object-fit:initial;
    border: 1px solid #eee;
}

.work-container .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-container{
    display: flex;
    gap: 2rem;
    border: 1px solid #eee;
    width: 900px;
    height: 375px;
    padding: 3rem;
    /* margin-bottom: 1rem; */
  
}

.work-container h2{
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.work-container h3{
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

.work-container p{
    height: 129px;
    margin-bottom: 1.3rem;
    padding: 0.5rem 0rem 0rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;

}